<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin</title>
    <link rel="stylesheet" href="src/bootstrap.css">
    <script src="src/vue.js"></script>
    <script src="src/bootstrap.js"></script>
</head>
<body>
    <div id="pin" class="alert alert-success" role="alert">
        <form v-on:submit.prevent="addNewPin">
            <div class="form-group">
                <label for="new-pin">Pin</label>
                <input
                    v-model="NewPinText"
                    id="new-pin"
                    placeholder="E.g. Feed the cat"
                >
                <button>Add</button>
            </div>

            <div class="form-group">
                <ul class="list-group">
                    <li
                        is="pin-item"
                        v-for="(todo, index) in todos"
                        v-bind:key="todo.id"
                        v-bind:title="todo.title"
                        v-on:remove="todos.splice(index, 1)"
                    ></li>
                </ul>
            </div>
        </form>
    </div>

    <script>
        Vue.component('pin-item', {
            template: '\
                <li class="list-group-item">\
                    <span class="badge" v-on:click="$emit(\'remove\')">Remove</span>\
                    <input type="checkbox"> {{ title }}\
                </li>\
            ',
            props: ['title']
        })

        new Vue({
            el: '#pin',
            data: {
                NewPinText: '',
                todos: [
                {
                    id: 1,
                    title: 'Do nothing',
                }
                ],
                nextTodoId: 2
            },
            methods: {
                addNewPin: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.NewPinText
                    })
                    this.NewPinText = ''
                }
            }
        })
    </script>
</body>
</html>
