<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin</title>
    <link rel="stylesheet" href="src/bootstrap.css">
    <script src="src/vue.js"></script>
</head>
<body style="background-color: rgba(0,0,0,0); -webkit-app-region: no-drag; width: 100%; overflow: hidden;">
    <div id="pin" class="alert alert-info" role="alert" style="border-radius:5px; -webkit-app-region: drag; width: 99%; margin-right: 1%;">
        <form v-on:submit.prevent="newPin" class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" style="-webkit-app-region: no-drag" type="button" v-on:click="newPin">Pin!</button>
                </span>
                <input v-model="NewPinText" id="new-pin" type="text" class="form-control" style="-webkit-app-region: no-drag" placeholder="E.g. Feed the cat">
            </div>
        </form>
        <ul class="list-group">
            <li
                is="pin-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-bind:del="todo.del"
                v-on:update="updatePin(index)"
                v-on:remove="unPin(index)"
            ></li>
        </ul>
    </div>

    <script>
        Vue.component('pin-item', {
            template: '\
                <li class="list-group-item">\
                    <input type="checkbox" style="-webkit-app-region: no-drag" v-on:click="$emit(\'update\')"> &nbsp; <del v-if="del" class="text-muted">{{ title }}</del><template v-else>{{ title }}</template>\
                    <button type="button" class="close" aria-label="Close" style="-webkit-app-region: no-drag" v-on:click="$emit(\'remove\')"><span aria-hidden="true">&times;</span></button>\
                </li>\
            ',
            props: ['title', 'del']
        })

        const ipcRenderer = require('electron').ipcRenderer;

        const Store = require('electron-store');
        const store = new Store();

        stored_data = store.get('stored_data')
        if (!stored_data)
        {
            stored_data = {
                NewPinText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do nothing',
                        del: false
                    }
                ],
                nextTodoId: 2
            }
        }
        else
        {
            /**
             * make compatible with 0.1.0
            */
            for (var i in stored_data.todos)
            {
                if (!stored_data.todos[i].hasOwnProperty('del'))
                {
                    stored_data.todos[i].del = false;
                }
                else
                {
                    break;
                }
            }
        }

        new Vue({
            el: '#pin',
            data: stored_data,
            mounted: function() {
                body = document.getElementsByTagName('body')[0];
                width = window.getComputedStyle(body).width.slice(0, -2);
                height = window.getComputedStyle(body).height.slice(0, -2);
                ipcRenderer.send('resize', width, height);
            },
            updated: function() {
                body = document.getElementsByTagName('body')[0];
                width = window.getComputedStyle(body).width.slice(0, -2);
                height = window.getComputedStyle(body).height.slice(0, -2);
                ipcRenderer.send('resize', width, height);
            },
            methods: {
                newPin: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.NewPinText,
                        del: false
                    })
                    this.NewPinText = '';
                    store.set('stored_data', stored_data);
                },
                unPin: function (index) {
                    this.todos.splice(index, 1);
                    store.set('stored_data', stored_data);
                },
                updatePin: function (index) {
                    this.todos[index].del = this.todos[index].del ? false : true
                }
            }
        });
    </script>
</body>
</html>
