<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body>
    <div id="pin" class="alert alert-success" role="alert">
        <form v-on:submit.prevent="addNewPin">
            <div class="form-group">
                <label for="new-pin">Pin</label>
                <input
                    v-model="NewPinText"
                    id="new-pin"
                    placeholder="E.g. Feed the cat"
                >
                <button>Add</button>
            </div>

            <div class="form-group">
                <ul class="list-group">
                    <li
                        is="pin-item"
                        v-for="(todo, index) in todos"
                        v-bind:key="todo.id"
                        v-bind:title="todo.title"
                        v-on:remove="todos.splice(index, 1)"
                    ></li>
                </ul>
            </div>
        </form>
    </div>

    <style>
        #pin {
            position: absolute;
        }
    </style>

    <script>
        Vue.component('pin-item', {
            template: '\
                <li class="list-group-item">\
                    <span class="badge" v-on:click="$emit(\'remove\')">Remove</span>\
                    <input type="checkbox"> {{ title }}\
                </li>\
            ',
            props: ['title']
        })

        new Vue({
            el: '#pin',
            data: {
                NewPinText: '',
                todos: [
                {
                    id: 1,
                    title: 'Do nothing',
                }
                ],
                nextTodoId: 2
            },
            methods: {
                addNewPin: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.NewPinText
                    })
                    this.NewPinText = ''
                }
            }
        })

        document.onkeydown = function (e) {
            var ev = window.event || e;
            var code = ev.keyCode || ev.which;
            if (code == 116) {
                ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
                cancelBubble = true;
                return false;
            }
        }
        document.οncοntextmenu = function() {return false};
    </script>

    <script>
        function move(){
            var _move = false;
            var _x, _y;
            $("#pin").click(function() {}).mousedown(function(e) {
                _move = true;
                _x = e.pageX-parseInt($("#pin").css("left"));
                _y = e.pageY-parseInt($("#pin").css("top"));
                $("#pin").fadeTo(20, 0.5);//点击后开始拖动并透明显示
            });
            $(document).mousemove(function(e) {
                if(_move) {
                    var x = e.pageX-_x;
                    var y = e.pageY-_y;
                    $("#pin").css({top:y,left:x});
                }
            }).mouseup(function() {
                _move = false;
                $("#pin").fadeTo("fast", 1);
            });
        }
        move();
    </script>

</body>
</html>
